body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#project ul {
    list-style-type: none;
}

/* #project ul li { */
/*     width: 48%; */
/*     float: right; */
/* } */