{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static 'vendor/html5-boilerplate/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/html5-boilerplate/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/twitter/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css" media="screen" />
        {% block extracss %}{% endblock %}
        <script src="{% static 'vendor/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'vendor/jquery/jquery.min.js' %}"><\/script>')</script>
        <script src="{% static 'vendor/twitter/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/underscore/underscore-min.js' %}"></script>

        <!-- Charts Library 图表库-->
        <!-- <script src="{% static 'js/vendor/Chart.js/Chart.min.js' %}"></script> -->
        <!--[if lte IE 8]>
	        <script src="{% static js/vendor/excanvas/excanvas.compiled.js"></script>
            <![endif]-->

        <!-- 以下使用的是morrisjs图表库 -->
        <!-- <script src="{% static 'vendor/raphael/raphael-min.js' %}"></script> -->
        <!-- <script src="{% static 'vendor/morris.js/morris.min.js' %}"></script> -->

        <!-- 以下使用的是dygraphs图表库 -->
        <!-- <script type="text/javascript" src="{% static 'vendor/dygraphs/dygraph-combined.js' %}"></script> -->

        <!-- 以下使用nvd3.js图表库 -->
        <script type="text/javascript" src="{% static 'vendor/d3/d3.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'vendor/nvd3/nv.d3.min.css'%}" type="text/css" media="screen" />
        <script type="text/javascript" src="{% static 'vendor/nvd3/nv.d3.min.js '%}"></script>

        {% block extrajs %}{% endblock %}

        <!-- <script src="{% static 'js/plugins.js' %}"></script> -->
        <!-- <script src="{% static 'js/main.js' %}"></script> -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">科技水产</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">首页</a></li>
                <!-- <li><a href="/about">关于</a></li> -->
                <!-- <li><a href="/contact">联系</a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li ><a href="#">{{ user.username }}</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'my_profile'%}">账户设置</a></li>
                    <li><a href="{% url 'pond_setting' %}">池塘管理</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'my_logout' %}">退出</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="{% url 'my_login' %}">登录</a></li>
                <li><a href="{% url 'my_register' %}">注册</a></li>
              {% endif %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        <div class="container">
          <div class="row">
            {% block content %}{% endblock %}
            <div class="footer">
              <p>© Company 2013</p>
            </div>
          </div> 
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script> -->
        <!--     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]= -->
        <!--     function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; -->
        <!--     e=o.createElement(i);r=o.getElementsByTagName(i)[0]; -->
        <!--     e.src='//www.google-analytics.com/analytics.js'; -->
        <!--     r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); -->
        <!--     ga('create','UA-XXXXX-X');ga('send','pageview'); -->
        <!-- </script> -->
    </body>
</html>
