{% extends "base.html" %}

{% load staticfiles %}
{% block extracss %}
{% endblock %}

{% block content %}
<div class="jumbotorn">
  <h1>紫菜生长环境监控系统</h1>
  <!-- <p class="lead"> -->
  <!--   常熟理工学院 -->
  <!--   <br/> -->
  <!--   常熟智胜信息有限公司 -->
  <!-- </p> -->
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>Node</h2>
    <p><a class="btn btn-primary" href="#">View details</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Node</h2>
    <p><a class="btn btn-primary" href="#">View details</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Node</h2>
    <p><a class="btn btn-primary" href="#">View details</a></p>
  </div>
</div>
<!-- Add your site or application content here -->
<!-- <p>Hello world! This is HTML5 Boilerplate.</p> -->
<!-- <p>Welcome here, my friends.</p> -->
<!-- <p>ようこそ、友たち</p> -->
{% endblock %}

