<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Authors</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>
  </head>
  <body>
    <h1>Authors</h1>
    <ul>
      {% for author in object_list %}
      <li>{{ author.first_name }} {{ author.last_name }}</li>
      {% endfor %}
    </ul>
    <footer>
      <address>
        <a href="mailto:creamidea@gmail.com">creamidea</a>
      </address>
    </footer>
  </body>
</html>
