<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Books</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>
  </head>
  <body>
    <h1>Books</h1>
    {{ number }}
    <ul>
    </ul>
    <footer>
      <address>
        <a href="mailto:creamidea@gmail.com">creamidea</a>
      </address>
    </footer>
  </body>
</html>
