<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Search Result</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>
  </head>
  <body>
    <h1>Search Result</h1>
    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if books %}
      <p>Found {{ books|length }} book{{ books|pluralize }}</p>
      <ul>
        {% for book in books %}
        <li>{{ book.title }}</li>
        {% endfor %}
      </ul>
    {% else %}
         <p>No books match your search criteria.</p>
    {% endif %}
    <footer>
      <address>
        <a href="mailto:creamidea@gmail.com">creamidea</a>
      </address>
    </footer>
  </body>
</html>
