{% extends 'base.html'%}

{% load staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'aquaculture/css/style.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/backbone/backbone-min.js'%}"></script>
<script type="text/javascript" src="{% static 'utility/helper.js'%}"></script>
<script src="{% static 'aquaculture/js/settings.js' %}"></script>
{% endblock %}

{% block content %}
<div id="pond_list_out" class="some_class">

  <div id="add_pond_out" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="add_pond" class="jumbotron" value="增加你的池塘">
        <label>增加池塘的名称:</label>
        <input type="text" class="form-control " name="" value="" />
        <button class="add pond btn btn-success" action="add_pond">增加</button>
      </div>
    </div> 
  </div> 

  <ul id="pond_list" class="row">
    {% for pond in ponds %}
    <li class="col-lg-4" pond_name="{{ pond.1 }}">
      <ul class="node_list">
        {% for node in pond.2 %}        
        <li node_id="{{ node.0 }}">
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div> 
{% endblock %}
