{% extends "base.html"%}

<!-- 加载自定义的插件 -->
{% load status_to_name %}

{% load staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'aquaculture/css/style.css' %}" type="text/css" media="screen" />
{% endblock%}

{% block extrajs %}
<!-- 以下使用的是dygraphs图表库 -->
<script type="text/javascript" src="{% static 'vendor/dygraphs/dygraph-combined.js' %}"></script>
<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js' %}"></script>
<script type="text/javascript" src="{% static 'utility/helper.js'%}"></script>
<script type="text/javascript" src="{% static 'aquaculture/js/pond.js' %}"></script>
{% endblock %}

{% block content %}

<div class="pond">

  <section>
    <div id="pond_info" class="page_header">
      <h1>池塘的基本信息</h2>
      <h3>
        <label>池塘的名称：</label>
        <strong>{{ pond_name }}</strong>
      </h3>
    </div>

    <h2>水泵的实时状况</h2>
    <label pump_id="{{ pump.0 }}">编号：{{ pump.0 }}</label>
    <label pump_name="{{pump.1}}">名称：{{ pump.1 }}</label>
    <strong id="pump_status" pond_name="{{ pond_name }}" pump_id="{{ pump.2 }}" class="{{ pump.2|css_status:'' }}">{{ pump.2|status:'' }}</strong>
  </section>

  <section>
    <!-- <h2>实时数据</h2> -->
    <!-- {% if realtime_data %} -->
    <!-- {% for record in realtime_data %} -->
    <!-- <h3>节点{{ record.0 }}实时数据显示</h3> -->
    <!-- <table id="tb_{{record.0}}_realtime" width="" cellspacing="" cellpadding="" border=""> -->
    <!--   <caption>采集时间：{{ record.1 }}</caption> -->
    <!--   <thead> -->
    <!--     <tr> -->
    <!--       <td>传感器名称</td> -->
    <!--       <td>采集值</td> -->
    <!--     </tr> -->
    <!--   </thead> -->
    <!--   <tbody> -->
    <!--     {% for sensor in record.2%} -->
    <!--     <tr> -->
    <!--       <td>{{ sensor.1 }}</td> -->
    <!--       <td>{{ sensor.2 }}</td> -->
    <!--     </tr> -->
    <!--     {% endfor %} -->
    <!--   </tbody> -->
    <!-- </table> -->
    <!-- <div id="chart_{{record.0}}_realtime" class="chart"><svg style="height: 500px"></svg></div>  -->
    <!-- {% endfor %} -->
    <!-- {% else %} -->
    <!-- <p>现在还没有数据</p> -->
    <!-- {% endif %} -->

    <h2>今日<span id="today_date"></span>数据</h2>
    {% for record in today_data %}
    <button>显示表格</button>
    <table id="tb_{{ record.0 }}_today" class="hide table table-hover">
      <caption>今日数据显示:节点{{ record.0 }}号</caption>
      <thead>
        <tr>
          <td>采集时间</td>
          <td>{{ record.1.1 }}</td>
          <td>{{ record.2.1 }}</td>
        </tr>
      </thead>
      <tbody>
        {% for r in record.3 %}
        <tr>
          <td>{{ r.0 }}</td>
          <td>{{ r.1 }}</td>
          <td>{{ r.2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="chart_{{record.0}}_today" class="chart" style="width: 100%"></div> 
    {% endfor %}


    <!-- 历史数据展示区 -->
    <h2>历史<span id="history_date"></span>数据</h2>
    {% for record in yesterday_data %}
    <button>显示表格</button>
    <table id="tb_{{ record.0 }}_history" class="table table-hover hide">
      <caption>历史数据显示:节点{{ record.0 }}号</caption>
      <thead>
        <tr>
          <td>采集时间</td>
          <td>{{ record.1.1 }}</td>
          <td>{{ record.2.1 }}</td>
        </tr>
      </thead>
      <tbody>
        {% for r in record.3 %}
        <tr>
          <td>{{ r.0 }}</td>
          <td>{{ r.1 }}</td>
          <td>{{ r.2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="chart_{{record.0}}_menu" class="menu" pond_name="{{pond_name}}">
      <button time="yesterday">昨日</button>
      <button time="week">本周</button>
      <button time="month">本月</button>
      <label>指定日期：</label>
      <span>
        <input id="start_time" type="text" name="start" value="" />
        <input id="end_time" type="text" name="end" value="" />
        <button >查询</button>
      </span>
    </div> 
    <div id="chart_{{record.0}}_history" class="chart" style="width: 100%"></div> 
    {% endfor %}

    <!-- <button>历史数据查询</button> -->
    <!-- <table id="tb_history" width="" cellspacing="" cellpadding="" border=""> -->
    <!-- </table> -->
    <!-- 测试区域 -->
    <!-- <div id="chart" class="chart"><svg></svg></div>  -->


  </section>

</div> 
{% endblock %}
