{% for key, value in ponds.items %}
<ul>
  <li pond-id="{{ key }}">
    <p>池塘的名称：{{ value.0.0 }}</p>
    <p>添加节点:</p>
    {{ form.node_id }}
    <p>绑定的节点编号：</p>
    {% for info in value %}        
      <li>{{ info.1 }}</li>
    {% endfor %}
  </li>
</ul>
{% endfor %}
<p>增加池塘的名称</p>
