{% load code_to_name %}
{% for node in nodes %}
<tr>
  <td>{{ node.sensor_id }}</td>
  <td>{{ node.sensor_id|id_to_cn_name}}</td>
  <td>{{ node.data }}</td>
  <td>{{ node.insert_time|plus_8h }}</td>
</tr>
{% endfor %}
