/* #pond_list_out #add_pond { */
/*     /\* display: inline; *\/ */
/*     width: 60%; */
/*     margin: 0 auto; */
/* } */
/* #pond_list_out #add_pond input { */
/*     width: 30%; */
/*     /\* float: left; *\/ */
/* } */
#pond_list {
  list-style-type: none;

}
#pond_list .node_list {
  list-style-type: none;
}

#pond_list>li {
    width: 30%;
    float: left;

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    margin: 15px 4px;
    padding: 15px 12px;

    background: white;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

#add_pond button{
    position: absolute;
    right: 74px;
    top: 98px;
}

#pond_list>li input.update {
    width: 40%;
}

#pond_list .node_list {
    padding: 0 0;
    padding-top: 28px;
    overflow: auto;
}

#pond_list .node_list li {
    margin: 16px;
    background-color: aliceblue;
    /* height: 35px; */
}

#pond_list .node_list li label {
    padding: 7px 10px;
}

#pond_list .node_list .add {
    position: absolute;
    right: 12px;
    top: 102px;
}

.pond section {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    margin: 15px 4px;
    padding: 15px 12px;

    background: white;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);

}

.pond .chart {
    background-color: #fcf8e3;
    margin: 55px 2px;
}