<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Contact us</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>
  </head>
  <body>
    <h1>Contact us</h1>
    {% load poll_extras %}
    {{ welcome|cut:" " }}
    <p>The time is {% current_time "%Y-%m-%d %I:%M %p" %}. </p>
    {% if errors %}
      <ul>
        {% for error in errors %}
        <li style="color: #dd4b39">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="post" id="" action="/contact/">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" name="" value="Submit" />
    </form>
    <footer>
      <address>
        <a href="mailto:creamidea@gmail.com">creamidea</a>
      </address>
    </footer>
  </body>
</html>
