{% extends "base.html"%}

{% load staticfiles%}
{% block extracss%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css" media="screen" />
{% endblock%}

{% block content %}
<div id="some_id" class="container">
  <form method="post" id="" action="" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">用户登录</h2>
    {% if form.errors %}
    <p class="alert alert-warning">对不起，您输入的用户名或密码无效。</p>
    {% endif %}
    <input type="text" class="form-control" placeholder="登录名" name="username" value="" id="username" required autofocus autocomplete="off"/>
    <input type="password" class="form-control" placeholder="密码" name="password" value="" id="password"/>
    <div class="checkbox">
      <input type="checkbox" name="remember" />记住我两周
    </div> 
    <input type="submit" class="btn btn-lg btn-primary btn-block" name="" 
value="登录" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
    <a href="{% url 'my_register' %}" class="btn btn-lg btn-success btn-block register">注册</a>
  </form>
</div> 

{% endblock%}
