{% extends "base.html" %}
{% load i18n static %}
{% block extracss%}
<link rel="stylesheet" href="{% static 'css/signin.css'%}" type="text/css" media="screen" />
{% endblock %}

{% block title %}更改密码{% endblock %}

{% block content %}
<div id="myTab">

  <h1>更改密码</h1>

  <ul class="nav nav-tabs">
    <li><a href="{% url 'my_profile' %}">个人资料</a></li>
    <li class="active"><a class="active" href="#" data-toggle="tab">密码修改</a></li>
  </ul>

  <div class="tab-content">
    <form class="form-signin" action="" method="post">{% csrf_token %}
      <!-- <h2 class="form-signin-heading">更改密码</h2> -->
      <div>
        {% if form.errors %}
        <p class="errornote alert alert-warning">
          {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {% endif %}

        <!-- <h1>{% trans 'Password change' %}</h1> -->
        <!-- <h1>更改密码</h1> -->

        <!-- <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p> -->

        <fieldset class="module aligned wide">
          <div class="form-row">
            {% if form.old_password.errors %}
            <p class="alert alert-warning">{{ form.old_password.errors }}</p>
            {% endif %}
            <!-- <label class="sr-only" for="id_old_password">输入旧密码:</label> -->
            {{ form.old_password }}
          </div>

          <div class="form-row">
            {% if form.new_password1.errors %}
            <p class="alert alert-warning">{{ form.new_password1.errors }}</p>
            {% endif %}
            <!-- <label class="sr-only" for="id_new_password1">输入新密码:</label> -->
            {{ form.new_password1 }}
          </div>

          <div class="form-row">
            {% if form.new_password2.errors %}
            <p class="alert alert-warning">{{ form.new_password2.errors }}</p>
            {% endif %}
            <!-- <label class="sr-only" for="id_new_password2">再次输入新密码 :</label> -->
            {{ form.new_password2 }}
          </div>

        </fieldset>

        <div class="submit-row">
          <input type="submit" value="更改密码" class="btn btn-primary register" />
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
      </div>
    </form>
  </div>

</div> 

{% endblock %}
