{% extends "base.html" %}

{% block content %}

<div id="myTab">
  <h1>帐户设置</h1>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#profile" data-toggle="tab">个人资料</a></li>
    <li><a href="{% url 'my_password_change' %}">密码修改</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <section>
      <h3>拥有的产品</h3>
      <ul>
        <li><a href="{% url 'nori_home' %}">紫菜主页</a></li>
        <li><a href="{% url 'pond_setting' %}">水产主页</a></li>
      </ul>
    </section>
  </div> 
</div>
<!-- <script type="text/javascript"> -->
<!--   $(function () { -->
<!--   $('#myTab .tab-pane:last').tab('show') -->
<!--   }) -->
<!-- </script> -->
{% endblock %}
