{% extends "base.html" %}

{% load staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<form method="post" id="" action="" class="form-signin">
  <h2 class="form-signin-heading">创建用户</h2>
  {% if form.error %}
  <p class="alert alert-warning">{{ form.error }}</p>
  {% endif %}
  {% csrf_token %}
  {{ form }}
  <!-- {% if form.username.error %} -->
  <!--   <p class="error">{{ form.username.error }}</p> -->
  <!-- {% endif %} -->
  <!-- {{ form.username.label }} -->
  <!-- {{ form.username }} -->
  <!-- {% if form.password1.error %} -->
  <!--   <p class="error">{{ form.password1.error }}</p> -->
  <!-- {% endif %} -->
  <!-- {{ form.password1.label }} -->
  <!-- {{ form.password1 }} -->
  <!-- {% if form.password2.error %} -->
  <!--   <p class="error">{{ form.password2.error }}</p> -->
  <!-- {% endif %} -->
  <!-- {{ form.password2.label }} -->
  <!-- {{ form.password2 }} -->
  <!-- {{ form.phone.label }} -->
  <!-- {{ form.phone }} -->
  <input type="submit" class="btn btn-lg btn-success btn-block register" name="" value="创建" />
</form>
<!-- <p>已有账户，<a href="{% url 'my_login' %}">登录</a></p> -->
{% endblock %}
